header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(180deg, #253c3c, #1d4949);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
}

header img {
  max-width: 8rem; /* You can adjust the size of the image */
  filter: invert(85%) sepia(5%) saturate(500%) hue-rotate(190deg) brightness(90%);
}

header h1 {
  font-size: 1.5rem;
}
