<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="control">
    <h1>Enter your credentials</h1>
  </div>
  <hr>
  <div class="control">
    <label for="emailInput">Email</label>
    <input id="emailInput"
           type="email"
           name="emailInput"
           formControlName="email"
           [ngClass]="{'field-invalid': isFieldInvalid('email')}"/>
  </div>
  <div class="control">
    <label for="passwordInput">Password</label>
    <input id="passwordInput"
           type="password"
           name="passwordInput"
           formControlName="password"
           [ngClass]="{'field-invalid': isFieldInvalid('password')}"
    />
  </div>
  <div class="form-errors">
    @if (errorMessage()) {
      <div class="control-error">
        <p>{{ errorMessage() }}</p>
      </div>
    }
  </div>
  <hr id="form-end">
  <div class="control">
    <button>Login</button>
  </div>
  <div class="control-redirect">
    <p>
      <span id="redirect-information">Don't have an account yet?</span>
      <a id="redirect-link" routerLink="/register">Create it here</a>
    </p>
  </div>
</form>
