.task-control {
  display: flex;
  flex-direction: column;
  background: #d0d6d9;
  width: 100%;
  align-items: center;
  border: 1px black solid;
  border-radius: 0.75rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  position: relative;
}

.task-control:hover {
  box-shadow: 0 0 0.25rem 0 #d0d6d9;
}

.task-control-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  padding: 0.2rem;
  margin-top: 0.2rem;
}

.task-control-header-left {
  font-weight: bold;
  padding-left: 0.4rem;
}

.task-control-header-right {
  justify-content: end;
  margin-right: 0;
  padding-right: 0.4rem;
}

.task-status {
  text-transform: uppercase;
  font-weight: normal;
  padding: 0 0.2rem;
  border-radius: 0.25rem;
  border: 1px solid #2e2e2e;
}

.task-status[status='PLANNED'] {
  background-color: #c1c1c1;
}

.task-status[status='IN_PROGRESS'] {
  background-color: #73a177;
}

.task-status[status='DONE'] {
  background-color: #208029;
}

.task-status[status='CANCELLED'] {
  background-color: #a84646;
}

.task-control hr {
  height: 0.3rem;
  margin: 0;
  width: 95%;
  background-color: #2e2e2e;
}

.task-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.task-control-row {
  display: flex;
  text-wrap: wrap;
  align-items: baseline;
  justify-content: start;
  text-align: start;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  font-size: 0.75rem;
}

.task-control-row .property-title {
  font-weight: bolder;
  margin-right: 0.2rem;
  font-size: 0.85rem;
}

#task-last-row {
  padding-right: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.subtasks-toggle-button {
  background-color: #2e2e2e;
  color: #d0d6d9;
  display: flex;
  margin-left: auto;
  padding: 0.1rem 0.4rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  cursor: pointer;
  border-top-left-radius: 0.6rem;
  border: 2px #2e2e2e solid;
  border-bottom-right-radius: 0.6rem;
}

.subtasks-toggle-button img {
  max-height: 1rem;
  max-width: 1rem;
  margin-left: 0.1rem;
  filter: invert(1) brightness(0.85) grayscale(0.2);
  transition: transform 0.3s ease;
}

.rotate-image {
  transform: rotate(180deg);
}

.not-rounded-bottom-right {
  border-bottom-right-radius: 0;
}

.subtasks-list {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #9b9c9f;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  overflow: hidden;
}

.task-edit-button {
  position: absolute;
  top: -0.5rem;
  right: -1.5rem;
  border-radius: 1rem;
}

.task-edit-button:active {
  transform: scale(0.95);
}

.task-edit-button-img {
  background: #d0d6d9;
  position: absolute;
  cursor: pointer;
  width: 1.1rem;
  height: 1.1rem;
  padding: 0.1rem;
  top: 2.5rem;
  right: -0.55rem;
  border: 0.1rem solid #2e2e2e;
  border-radius: 25%;
  object-fit: cover;
  object-position: center center;
  transform: rotate(270deg);
}

.task-edit-button-img:active {
  transform: scale(0.95) rotate(270deg);
}

.in-edit-shadow {
  box-shadow: 0 0 0.5rem 0 #d0d6d9;
}

.in-edit-rotate {
  transform: rotate(90deg);
}
