<div class="task-control">
  <div class="task-control-header">
          <span class="task-control-header-left">{{task.name}}</span>
    <span class="task-control-header-right">
            Status:
            <span class="task-status"
            [attr.status]="task.status">
              {{ task.status }}
            </span>
          </span>
  </div>
  <hr>
  <div class="task-body">
    <div class="task-control-row">
      <span class="property-title">Description:</span>
      <span>{{task.description}}</span>
    </div>
    <div class="task-control-row">
      <span class="property-title">Date of start:</span>
      <span>{{task.startDate}}</span>
    </div>
    <div class="task-control-row" id="task-last-row">
      <span class="property-title">Date of finish:</span>
      <span>{{task.finishDate}}</span>
      <button
        class="subtasks-toggle-button"
        type="button"
        (click)="toggleSubtasks()"
        [ngClass]="{'not-rounded-bottom-right': subtasksVisible}"
        [@round-button]="subtasksVisible ? 'unrounded' : 'rounded'">
        Subtasks
        <img
          src="down-arrow.png"
          alt="An arrow pointing down"
          [ngClass]="{'rotate-image': subtasksVisible}"/>
      </button>
    </div>
    <div class="subtasks-list"
         [@rollout]="subtasksVisible ? 'visible' : 'hidden'">
      <app-subtask [subTask]="{
      id: 1,
      name: 'SubTask#1',
      description: 'This is a temporary mock subtask',
      done: true}"></app-subtask>
      <div class="subtask-bottom-padding"></div>
    </div>
  </div>
</div>
