form {
  max-width: 20rem;
}

.control-row {
  display: flex;
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.control-row button {
  display: flex;
  max-width: 48%;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #758a8a;
  color: #253c3c;
}

.control-row button:active {
  transform: scale(0.95);
}

.control-info p {
  display: block;
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0.1rem;
}
