.edit-task-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 0.15rem 0.1rem 0.15rem 0.15rem;
  width: 100%;
  background: #d0d6d9;
  border-radius: 0.75rem;
  box-shadow: 0 0 0.25rem 0 #d0d6d9;
}

.edit-task-control-header {
  background: #d0d6d9;
  margin-top: 0.4rem;
  margin-bottom: 0.3rem;
  padding: 0.1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-label {
  display: flex;
  margin-left: 0;
  font-size: 1rem;
}

.header-button-group {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 0;
}

.edit-task-control form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: 0 0;
  border-radius: 0.6rem;
  padding: 0.2rem 0;
}

.edit-task-control-row-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: baseline;
  justify-content: start;
  text-align: start;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  font-size: 0.75rem;
  padding: 0.2rem 0.7rem;
}

.edit-task-control-row-horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  font-size: 0.75rem;
  padding: 0.2rem 0.7rem;
}

.edit-task-control-label {
  font-weight: bolder;
  font-size: 0.85rem;
  color: #d0d6d9;
  padding: 0.1rem;
}

.edit-task-control-row-horizontal .edit-task-control-label {
  max-width: 5rem;
  margin-right: 0.5rem;
}

.edit-task-control-input {
  padding: 0.1rem;
  width:auto;
  background: rgba(208, 214, 217, 0.75);
  border-radius: 0.25rem;
}

#nameInput {
  width: 100%;
}

input:focus {
  outline: none;
  background: #d0d6d9;
}

textarea:focus {
  outline: none;
  background: #d0d6d9;
}

select:focus {
  outline: none;
  background: #d0d6d9;
}

.edit-task-control-textarea {
  padding: 0.1rem;
  max-width: 100%;
  width: 100%;
  line-height: 1rem;
  height: 3.2rem;
  resize: none;
  overflow: hidden;
  background: rgba(208, 214, 217, 0.75);
  border-radius: 0.25rem;
}

.edit-task-control-subtasks {
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
  margin-bottom: 0;
  width: 100%;
  padding: 0.2rem 0.2rem 0.1rem;
  border-radius: 0.6rem;
  background: linear-gradient(180deg, #253c3c, #1d4949);
  justify-content: center;
  align-items: center;
}

.action-button {
  display: flex;
  text-align: center;
  border-radius: 0.4rem;
  padding: 0.2rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  background: rgba(208, 214, 217, 0.75);
  border: 0.1rem solid rgb(118, 118, 118);
}

button#submitButton, button#discardButton {
  color: #d0d6d9;
  background: linear-gradient(180deg, #253c3c, #1d4949);
  margin-right: 0.1rem;
  margin-left: 0.1rem;
  border: 0.15rem solid #d0d6d9;
}

button#deleteButton {
  color: #d0d6d9;
  background: #802020;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
  border: 0.15rem solid #d0d6d9;
}

button#discardButton svg {
  height: 0.95rem;
  width: 0.95rem;
  transform: rotate(45deg);
}


.action-button:hover {
  cursor: pointer;
}

.action-button:active {
  transform: scale(0.95);
}

button#addSubtaskBtn {
  margin-left: auto;
}

button#addSubtaskBtn svg{
  height: 1rem;
  width: 1rem;
}

.field-invalid {
  border: 3px solid #5a0011;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}
