<div class="edit-task-control">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="edit-task-control-header">
      <div class="header-label">Edit Task</div>
      <div class="header-button-group">
        <button class="action-button" id="submitButton" type="submit">Save</button>
        <button class="action-button" id="discardButton" type="button">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="edit-task-control-row-vertical">
      <div class="edit-task-control-label">Name</div>
      <input
        class="edit-task-control-input"
        id="nameInput"
        type="text"
        name="nameInput"
        formControlName="name"
      />
    </div>
    <div class="edit-task-control-row-vertical">
      <div class="edit-task-control-label">Description</div>
      <textarea
        class="edit-task-control-textarea"
        id="descriptionInput"
        type="text"
        name="descriptionInput"
        formControlName="description"
      ></textarea>
    </div>
    <div class="edit-task-control-row-horizontal">
      <div class="edit-task-control-label">Start Date</div>
      <input
        class="edit-task-control-input"
        id="startDateInput"
        type="datetime-local"
        name="startDateInput"
        formControlName="startDate"
      />
    </div>
    <div class="edit-task-control-row-horizontal">
      <div class="edit-task-control-label">Finish Date</div>
      <input
        class="edit-task-control-input"
        id="finishDateInput"
        type="datetime-local"
        name="finishDateInput"
        formControlName="finishDate"
      />
    </div>
    <div class="edit-task-control-row-horizontal">
      <div class="edit-task-control-label">Status</div>
      <select class="edit-task-control-input" id="statusInput" name="statusInput" formControlName="status">
        <option value="IN_PROGRESS">IN PROGRESS</option>
        <option value="DONE">DONE</option>
        <option value="CANCELLED">CANCELLED</option>
        <option value="PLANNED">PLANNED</option>
      </select>
      <button class="action-button" type="button" id="addSubtaskBtn">
        Subtask
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
        </svg>
      </button>
    </div>
  </form>
  <div class="edit-task-control-subtasks">
    @for (subtask of task.subTasks; track subtask.id) {
      <app-edit-subtask [subTask]="subtask"></app-edit-subtask>
    }
  </div>
</div>

