<div class="edit-task-control">
  <div class="edit-task-control-row">
    <div class="edit-task-control-label">Name</div>
    <div class="edit-task-control-input">{{task.name}}</div>
  </div>
  <div class="edit-task-control-row">
    <div class="edit-task-control-label">Description</div>
    <div class="edit-task-control-input">{{task.description}}</div>
  </div>
  <div class="edit-task-control-row">
    <div class="edit-task-control-label">Start Date</div>
    <div class="edit-task-control-input">{{task.startDate}}</div>
  </div>
  <div class="edit-task-control-row">
    <div class="edit-task-control-label">Finish Date</div>
    <div class="edit-task-control-input">{{task.finishDate}}</div>
  </div>
  <div class="edit-task-control-row">
    <div class="edit-task-control-label">Status</div>
    <div class="edit-task-control-input">{{task.status}}</div>
  </div>
</div>
<div class="edit-subtasks-control">
  Here will be editing subtasks area
</div>
