<div class="dashboard-container">
  <div class="dashboard-area dashboard-area-left">
    <div class="user-top-bar">
      <span class="user-information">
        <img id="userLogo" src="user.png" alt="User icon"/>
        <span>{{ userInfo()?.name }}</span>
      </span>
      <div class="user-actions-dropdown"
           (mouseleave)="dropdownVisible = false">
        <div class="dropdown-toggle">
          <img (click)="toggleDropdown()" src="dropdown.png" alt="A dropdown icon"/>
        </div>
        <div class="dropdown-content" [class.show-dropdown]="dropdownVisible">
          <a>Account Details</a>
          <hr>
          <a (click)="logout()">
            Logout <img src="logout.png" alt="Logout icon"/>
          </a>
        </div>
      </div>
    </div>
    <div class="tasks-list">
      <app-task [task]="{
        id: 1,
        name: 'MockTask#1',
        description: 'This is a temporary description for MockTask#1. It can be quite long',
        startDate: '01/01/2025 12:00:00 CEST',
        finishDate: '31/01/2025 12:00:00 CEST',
        status: 'DONE',
        subTasks: []
      }"></app-task>
    </div>
  </div>
  <div class="vr"></div>
  <div class="dashboard-area dashboard-area-right">
    right box
  </div>
</div>
