<div class="dashboard-container">
  <div class="dashboard-area dashboard-area-left">
    <div class="dashboard-top-bar" id="top-bar-left">
      <span class="user-information">
        <img id="userLogo" src="user.png" alt="User icon"/>
        <span>{{ userInfo()?.name }}</span>
      </span>
      <div class="user-actions-dropdown"
           (mouseleave)="dropdownVisible = false">
        <div class="dropdown-toggle">
          <img (click)="toggleDropdown()" src="dropdown.png" alt="A dropdown icon"/>
        </div>
        <div class="dropdown-content" [class.show-dropdown]="dropdownVisible">
          <a>Account Details</a>
          <hr>
          <a (click)="logout()">
            Logout <img src="logout.png" alt="Logout icon"/>
          </a>
        </div>
      </div>
    </div>
    <div class="tasks-list">
      @for (task of userTasks(); track task.id) {
        <app-task
          [task]="task"
          (taskSelectedForEdit)="onTaskSelected($event)"
          [selectedTask]="tasksService.taskInEdit()"></app-task>
      }
    </div>
  </div>
  <div class="vr"></div>
  <div class="dashboard-area dashboard-area-right">
    <div class="dashboard-top-bar" id="top-bar-right">
      <button class="dashboard-add-task-button" type="button">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
        </svg>
        <span>New task</span>
      </button>
    </div>
    <app-action-area></app-action-area>
  </div>
</div>
