body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #182b16;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 160px);
  padding: 1rem;
}

main div {
  background: #9c9c9c;
}
