* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(#d0d6d9, #b1b4ba);
  color: #d0d6d9;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 160px);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main div {
  background: linear-gradient(180deg, #253c3c, #1d4949);
  width: 100%;
}
