* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(#d0d6d9, #b1b4ba);
  color: #d0d6d9;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 160px);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main div {
  width: 100%;
}

.control-redirect p {
  display: flex;
  width: 100%;
  font-size: 0.8rem;
  justify-content: center;
  padding: 0 0.5rem;
}

#redirect-information {
  padding: 0 0.1rem;
}

#redirect-link {
  padding: 0 0.1rem;
  text-decoration: underline;
}

#redirect-link:hover, #redirect-link:visited {
  color: #bec2c3;
  cursor: pointer;
}

#redirect-link:active {
  color: #bec2c3;
  cursor: pointer;
  transform: scale(0.95);
}
